<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.servocode.skating">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".core.app.SkatingApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_skate_icon_512_rounded"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activities.ShowTricksActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>